body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#result {
  font-size: 18px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 480px) {
  /* Definir a largura do formulário para 90% */
  .formulario {
    width: 90%;
  }

  /* Reduzir o tamanho da fonte e o espaçamento entre campos de entrada */
  .campo-input {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* Organizar campos de entrada em uma única coluna */
  .campo-input {
    width: 100%;
    box-sizing: border-box;
  }

  /* Alterar o tamanho da fonte para o botão de envio */
  .botao {
    font-size: 16px;
  }
}
