h1, h2 {
  text-align: center;
}

fieldset.sem-borda {
  border: none;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 4px 4px;
}

input[type="text"],
input[type="email"],
select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

button[type="submit"] {
  background-color: #3399ff;
  color: #ffffff;
}

input[type="text"],
select,
input[type="email"],
button[type="submit"] {
  border-radius: 5px;
  box-shadow: 1px 1px 1px #cccccc;
}

fieldset {
  background-color: #f8f8f8;
}


@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }
}
